In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [5]:
df=pd.read_csv('student_Marks.csv')

In [7]:
df.head(3)

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811

In [9]:
df.columns=['sinif','saat','puan']

In [11]:
df.head(3)

   sinif   saat    puan
0      3  4.508  19.202
1      4  0.096   7.734
2      4  3.133  13.811

In [13]:
y=df[['puan']]
x=df[['sinif','saat']]

In [15]:
lm=LinearRegression()
model=lm.fit(x,y)

In [17]:
#y=ax+b

In [21]:
model.coef_  #katsayÄ±

array([[1.86405074, 5.39917879]])

In [24]:
model.intercept_  #sabit

array([-7.45634623])

In [26]:
model.predict([[4,5]])

C:\Users\T7\anaconda3\envs\mustafa-env\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[26.99575068]])

In [32]:
s1=model.predict([[3,4.508]])

C:\Users\T7\anaconda3\envs\mustafa-env\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [34]:
(19.202-s1)/19.202

array([[-0.17046682]])

In [38]:
model.score(x,y)

0.9403656320238896