In [1]:
# Regresyon & Sınıflandırma

In [9]:
# y= ax + b 

# y --> bağımlı değişken

# x --> bağımsız değişken

# a --> bağımsız değişkenin katsayısı

# b --> hata, sabit

In [19]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [29]:
df=pd.read_csv("Student_Marks.csv")

In [47]:
df.head(2)

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734

In [33]:
y=df [["Marks"]]
x=df [["number_courses","time_study"]]

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   number_courses  100 non-null    int64
 1   time_study      100 non-null    float64
 2   Marks           100 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [37]:
l=LinearRegression()
model=l.fit(x,y)

In [41]:
model.predict([[3,12]])

C:\Users\T7\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[62.92595145]])

In [49]:
df['Marks'].max()

55.299

In [51]:
model.score(x,y)

0.9403656320238896