In [5]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb

In [7]:
from sklearn.model_selection import train_test_split

In [9]:
df=pd.read_csv("heart.csv")
df.head(3)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

In [37]:
y=df['output']
x=df.drop(columns=["output"])

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=47,train_size=0.7)

In [95]:
dt=DecisionTreeClassifier()
model=dt.fit(x,y)
model.score(x,y)

1.0

In [120]:
dt=DecisionTreeClassifier()

In [122]:
model=dt.fit(x_train,y_train)

In [124]:
model.score(x_test,y_test)

0.7802197802197802

In [126]:
rf=RandomForestClassifier(n_estimators=200)
model=rf.fit(x_train,y_train)

In [128]:
model.score(x_test,y_test)

0.8351648351648352

In [130]:
rf=xgb.XGBClassifier()

In [132]:
model=rf.fit(x_train,y_train)

In [134]:
model.score(x_test,y_test)

0.8131868131868132

In [136]:
df.shape

(303, 14)

In [138]:
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [140]:
insan=df.sample().drop("output",axis=1).values

In [142]:
model.predict(insan)

array([1])