In [1]:
import pandas as pd

In [3]:
import numpy as np

In [5]:
from sklearn.linear_model import LinearRegression

In [7]:
from sklearn.ensemble import RandomForestRegressor

In [9]:
from sklearn.model_selection import train_test_split

In [11]:
df=pd.read_csv('insurance.csv')

In [13]:
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [17]:
pd.get_dummies(df,columns=["sex","smoker","region"],drop_first=True)

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,False,True,False,False,True
1,18,33.770,1,1725.55230,True,False,False,True,False
2,28,33.000,3,4449.46200,True,False,False,True,False
3,33,22.705,0,21984.47061,True,False,True,False,False
4,32,28.880,0,3866.85520,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,True,False,True,False,False
1334,18,31.920,0,2205.98080,False,False,False,False,False
1335,18,36.850,0,1629.83350,False,False,False,True,False
1336,21,25.800,0,2007.94500,False,False,False,False,True
1337,61,29.070,0,29141.36030,False,True,True,False,False

In [19]:
df=pd.get_dummies(df,columns=["sex","smoker","region"],drop_first=True)

In [21]:
df.head(3)

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.90,0,16884.9240,False,True,False,False,True
1,18,33.77,1,1725.5523,True,False,False,True,False
2,28,33.00,3,4449.4620,True,False,False,True,False

In [23]:
y=df['charges']

In [25]:
x=df.drop(columns=["charges"])

In [31]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=47,train_size=0.7)

In [35]:
lr=LinearRegression()

In [37]:
model=lr.fit(x_train,y_train)

In [39]:
model.score(x_test,y_test)

0.7604484749333361

In [41]:
rf=RandomForestRegressor(n_estimators=200)

In [43]:
model=rf.fit(x_train,y_train)

In [45]:
model.score(x_test,y_test)

0.8416355264493505

In [47]:
x.head(3)

,age,bmi,children,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.90,0,False,True,False,False,True
1,18,33.77,1,True,False,False,True,False
2,28,33.00,3,True,False,False,True,False

In [53]:
bmi=62/(1.74*1.74)

In [55]:
bmi

20.478266613819528

In [59]:
model.predict([[20,20.4,0,1,0,1,0,0]])

C:\Users\T7\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([1883.974825])