In [73]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [75]:
db=pd.read_csv('audi.csv')

In [77]:
db.head(3)

,index,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),href,PPY,MileageRank,PriceRank,PPYRank,Score
0,0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,https://www.autotrader.co.uk/car-details/20221...,2499.166667,215,163,340,718
1,4,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,https://www.autotrader.co.uk/car-details/20221...,2688.750000,222,330,276,828
2,7,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,https://www.autotrader.co.uk/car-details/20221...,3599.666667,221,327,94,642

In [79]:
db=db[["Year","Type","Mileage(miles)","Engine","PS","Transmission","Fuel","Number_of_Owners","Price(£)"]]

In [81]:
db.head(3)

,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£)
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0

In [83]:
db.columns=["yil","kasa","mil","motor","ps","vites","yakit","sahip","fiyat"]

In [85]:
db.head(3)

,yil,kasa,mil,motor,ps,vites,yakit,sahip,fiyat
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0

In [87]:
db['motor']=db['motor'].str.replace("L","")
db['motor']=pd.to_numeric(db['motor'])

In [89]:
db=pd.get_dummies(db,columns=['kasa','vites','yakit'],drop_first=True)

In [91]:
db.head()

,yil,mil,motor,ps,sahip,fiyat,vites_Manual,yakit_Petrol
0,2018.0,44000.0,1.6,114.398422,1,14995.0,True,False
1,2016.0,42596.0,1.0,93.688363,3,10755.0,True,True
2,2015.0,42700.0,1.4,123.274162,2,10799.0,True,True
3,2014.0,86000.0,1.6,103.550296,3,7490.0,True,False
4,2014.0,104310.0,1.6,103.550296,3,7400.0,True,False

In [93]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   yil           471 non-null    float64
 1   mil           471 non-null    float64
 2   motor         471 non-null    float64
 3   ps            471 non-null    float64
 4   sahip         471 non-null    int64
 5   fiyat         471 non-null    float64
 6   vites_Manual  471 non-null    bool
 7   yakit_Petrol  471 non-null    bool
dtypes: bool(2), float64(5), int64(1)
memory usage: 23.1 KB

In [95]:
y=db[["fiyat"]]
x=db.drop("fiyat",axis=1)

In [101]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.70,random_state=47)

In [103]:
lm=LinearRegression()
model=lm.fit(x_train,y_train)
model.score(x_test,y_test)

0.9037835434682128

In [107]:
#lm=LinearRegression()
#model=lm.fit(x,y)
#model.score(x,y)

In [109]:
db.head(3)

,yil,mil,motor,ps,sahip,fiyat,vites_Manual,yakit_Petrol
0,2018.0,44000.0,1.6,114.398422,1,14995.0,True,False
1,2016.0,42596.0,1.0,93.688363,3,10755.0,True,True
2,2015.0,42700.0,1.4,123.274162,2,10799.0,True,True

In [113]:
model.predict([[2016,30000,1.0,90,5,0,1]])

C:\Users\T7\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[13387.02164288]])